name: Cache Anbox images

on:
  workflow_dispatch:
  schedule:
  - cron: '0 10 * * *'

jobs:
  cache-images:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Download images
      env:
        IMAGE_SERVER_BUCKET: nightly
      run: |
        base_version="$(cat .base_version)"
        channel="$base_version"/edge
        image_server_url=https://"${{ secrets.IMAGE_SERVER_AUTH }}"@images.anbox-cloud.io/"$IMAGE_SERVER_BUCKET"/"$channel"
        item_type=image

        mkdir images
        for product in android14 aaos15 ; do
          image_name=jammy:"$product":amd64
          image_path="$(curl -s "$image_server_url"/streams/v1/images.json | \
            jq -r "last(.products.\"$image_name\".versions[] | select(.items.\"${item_type}\" != null)).items.\"${item_type}\".path")"
          image_url="$image_server_url"/"$image_path"
          curl -s "$image_url" -o images/"$product"_amd64.tar.xz
        done
    - name: Generate cache key
      id: cache-key
      run: |
        echo "value=anbox-images-amd64-$(/bin/date -u "+%Y%m%d")" >> $GITHUB_OUTPUT
      shell: bash
    - name: Cache all images
      uses: actions/cache/save@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      with:
        path: images
        key: ${{ steps.cache-key.outputs.value }}
