name: Run code quality scan
on:
  workflow_dispatch:
  # FIXME put on hold until infrastructure limits are sorted. Until
  # then we only run weekly on Sundays.
  # push:
  #   branches:
  #     - main
  schedule:
  # Run every Sunday on 8am
  - cron: "0 8 * * 0"


concurrency:
  group: tics
  cancel-in-progress: false

jobs:
  tics-scan:
    name: Run TICS quality scan
    runs-on: [self-hosted, linux, amd64, tiobe, jammy]
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
      with:
        node-version: 24

    - name: Determine test configuration
      id: config
      run: |
        echo "base_version=$(cat .base_version)" >> "$GITHUB_OUTPUT"

    - name: Setup Anbox Cloud
      uses: canonical/anbox-cloud-github-action@ef0690184b1c8fd11e3385669726297bc2e3d368
      with:
        channel: ${{ steps.config.outputs.base_version }}/edge

    - name: Tune installation
      run: |
        amc config set container.security_updates false

    - name: Restore cached images
      uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      with:
        path: images
        key: anbox-images-amd64
        restore-keys: |
          anbox-images-amd64-

    - name: Import cached images
      run: |
        for name in android14 aaos15 ; do
          amc image add jammy:"$name":amd64 "$GITHUB_WORKSPACE"/images/"$name"_amd64.tar.xz
        done

    - name: Register trust certificate with AMS
      working-directory: js/tests/e2e
      run: |
        openssl req -x509 -newkey rsa:4096 -keyout anbox-cloud.key \
          -out anbox-cloud.crt -days 365 -nodes \
          -subj "/C=GB/ST=London/L=London/O=Global Security/OU=IT Department/CN=example.com"
        amc config trust add ./anbox-cloud.crt

    - name: Configure env variables
      working-directory: js/tests/e2e
      run: |
        echo "CI=true" > .env.local
        echo "AMS_API_CERTIFICATE=anbox-cloud.crt" >> .env.local
        echo "AMS_API_CERTIFICATE_KEY=anbox-cloud.key" >> .env.local
        echo "AMS_API_URL=$(sudo cat /var/snap/anbox-cloud-appliance/common/dashboard/config.yaml | grep AMS_API_URL | cut -d ' ' -f2)" >> .env.local
        echo "ASG_API_URL=$(sudo cat /var/snap/anbox-cloud-appliance/common/dashboard/config.yaml | grep ASG_API_URL | cut -d ' ' -f2)" >> .env.local
        echo "ASG_API_TOKEN=$(sudo cat /var/snap/anbox-cloud-appliance/common/dashboard/config.yaml | grep ASG_API_TOKEN | cut -d ' ' -f2)" >> .env.local

    - name: Run tests, generate coverage report
      working-directory: js/tests
      run: |
        ./combined-coverage-report.sh

    - name: Dump logs on failure
      if: failure()
      run: |
        sudo snap logs -n all anbox-cloud-appliance > appliance.log
        sudo anbox-cloud-appliance.buginfo > appliance.buginfo
        for id in $(amc ls --format=csv | cut -d',' -f1) ; do
          status=$(amc show "$id" --format=json | jq -r .status)
          if [ "$status" = error ] ; then
            for log in $(amc show "$id" --format=json | jq -r '.stored_logs[]' | xargs) ; do
              amc show-log "$id" "$log" |& tee -a "$id"_"$log"
            done
          elif [ "$status" = started ] || [ "$status" = running ]; then
            for name in android anbox ; do
              timeout 30s amc logs "$id" -t "$name" |& tee -a "$id"_"$name".log
            done
          fi
        done

    - name: Upload test results and coverage data
      if: always()
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: tics-test-reports
        path: |
          js/tests/e2e/test-results
          js/tests/e2e/coverage
        # Keep for a bit longer to allow investigation on older workflow runs
        retention-days: 7

    - name: Run TICS scan
      env:
        TICSAUTHTOKEN: ${{ secrets.TICSAUTHTOKEN }}
      run: |
        set -x
        source ~/.profile
        TICSQServer -project anbox-streaming-sdk -tmpdir /tmp/tics
