name: Update Trivy cache
on:
  workflow_dispatch:
  # Run daily after midnight UTC
  schedule:
  - cron: '0 1 * * *'

jobs:
  trivy-update:
    strategy:
      fail-fast: false
      matrix:
        arch: [arm64, amd64]
    runs-on: [self-hosted, linux, "${{ matrix.arch == 'amd64' && 'X64' || 'ARM64' }}", jammy, large]
    steps:
    - name: Check out repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0
    - name: Setup Trivy to warm up the cache
      uses: ./.github/actions/setup-trivy
      with:
        arch: ${{ matrix.arch }}
